/* Main Sytles */
p{
    font-family: cursive;
    font-size: 14px;
}
tr:nth-child(even){
    background-color: seagreen;
    font-size: 24px;

   
}
tr:nth-child(odd){
    background-color: dodgerblue;
    font-size: 24px;

table{
    width: 100%;
    
}
h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
 
/*Custom Styles */

/*Specific Styles */
#p1{
    font-size: 50px;
    font-weight: bold;
}
#p2{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}
